


/* .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar-nav {
    font-size: 20px;
    display: flex;
    gap: 2rem;
}

.div-center {
    justify-content: center;
    width: 70%;
}

.nav-item {
    padding-right: 100px;
    margin-right: 20px;
} */
